.left_main_artical img {
  width: 50rem;
  height: 28rem;
  border-radius: 10px;
}
.home-container {
  margin: auto;
  margin-top: 2.5rem;
  width: 100%;
}
.main_artical {
  display: flex;
  gap: 1rem;
}
.right_main_artical {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.right_main_articals img {
  width: 30rem;
  height: 13.5rem;
  border-radius: 10px;
}
.left_main_artical {
  position: relative;
}
.left_main_artical_box {
  position: absolute;
  bottom: 1.5rem;
  left: 1rem;
}
h5,
h6,
p {
  color: #eeeeee;
}
.right_main_articals {
  position: relative;
}
.right_main_artical_box {
  position: absolute;
  bottom: 0.5rem;
  left: 0.8rem;
}
.Latest_container {
  margin-top: 2rem;
}
.mouse_hover {
  cursor: pointer;
}
