.latest_artical_container{
    width:100%;
    display:flex;
    gap:2rem;
    margin-top:2rem;
}
.container{
    margin-top:5rem;
}
.box2 img{
    width:20rem;
    height:30rem;
    margin-top:2.5rem;
}
.box01{
    display: flex;
    border-bottom: 1px solid rgba(211, 211, 211, 0.548);
    gap:0.8rem;
    margin-top:0.8rem;
    padding-bottom:0.5rem;
}
.box01 img{
  width:11rem;
  height:12rem;
  border-bottom:0.5rem solid #9c27b0;
}
.box1Para p{
    color:black;
    text-align: justify;
    font-weight:100;
}
.h5{
    color:rgb(128, 128, 128);
}
.boxContiner{
    display:flex;
    flex-direction:column;
}
